<div dir='rtl' class="container">

<p>
  לשירים יש חלק מרכזי ביותר באופיין התרבותי של מדינות העולם בכלל, ומדינת ישראל בפרט.
</p>

מטרת הפרויקט שלנו היא לחקור את נפוצות השמות השונים בזמר העברי, על מנת להבין מגמות ותהליכים תרבותיים אשר התרחשו בחברה הישראלית.
המגמות שבחרנו לבדוק הן: 
<ul>
  <li>
האם לאורך הזמן ניתן להבחין בהפחתת השימוש בשמות תנ"כיים בשירים?
  </li>
<li>
האם גברים שרים בעיקר על נשים, ונשים בעיקר על גברים?
</li>
<li>
מהם השמות הנפוצים ביותר בכל שנה?
</li>
<li>
האם שמות של גברים נפוצים יותר משל נשים, או להפך?
</li>
</ul>

<p>
על מנת להשיג מטרה זו, השתמשנו במגוון כלים שלמדנו בקורס – את מאגר השירים לקחנו מאתר "שירונט", ועליו הרצנו את מתייג השירים של ד"ר מני אדלר. בעזרת המתייג הוצאנו מכל שיר את השמות המופיעים בו, ובנינו שאילתה אל מאגר "Wikidata" שהכרנו בקורס על מנת לדעת מהו מין הזמר. 
את ממצאי הפרויקט בחרנו להציג בצורה ויזואלית בעזרת תרשימים, גרפים ובעיקר צירי זמן, הממחישים את השינויים שהתרחשו לאורך השנים
</p>
</div>
